<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Home square footage</th>
      </tr>
    </thead>
      <tr>
        <td>{{ leadsDetail.firstName }}</td>
        <td>{{ leadsDetail.lastName }}</td>
        <td>{{ leadsDetail.email }}</td>
        <td>{{ leadsDetail.phoneNumber }}</td>
        <td>{{ leadsDetail.address }}</td>
        <td>{{ leadsDetail.homeSquareFootage }}</td>
      </tr>
    </tbody>
  </table>
